.comics-hero{
    background: #232222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.comics-hero h2{
    font-family: Roboto Condensed;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
    width: 100%;
    padding-left: 83px;
}