.comics-card{
    display: flex;
    flex-direction: column;
    width: 225px;
    margin-bottom: 55px;
}
.comics-card img{
    width: 225px;
    margin-bottom: 10px;
}
.comics-card h3{
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 5px;
}
.comics-card span{
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 700; 
    color: #00000099;
 
}